<div class="account-edit">
<div class="container">
  <h2 class="form-group text-center pt-2">プロフィール編集</h2>
    <%= form_with model: @end_user do |f| %>
    <div class="form-group form_profile_image col-sm-6 offset-sm-5">
      <% if @end_user.profile_image.attached? %>
        <%= image_tag @end_user.profile_image, size: "150x150", class:"rounded-circle mx-auto border border-dark" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "150x150",class:"rounded-circle mx-auto" %>
      <% end %>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :status, "表示状態" %>
      </div>
      <div class="col-sm-4">
        <%= f.radio_button :status, "released" %>
        <%= f.label :status, "公開" %>
        <%= f.radio_button :status, "nonreleased" %>
        <%= f.label :status, "非公開" %>
      </div>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :screen_name, "ユーザー名" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :screen_name,  class: "form-control" %>
      </div>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :biography, "自己紹介" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_area :biography,  class: "form-control" %>
      </div>
    </div>
    <div class="form-group row mt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :name, "名前" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row pt-3 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :name_kana, "名前（カナ）" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :name_kana, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :gender, "性別" %>
      </div>
      <div class="col-sm-4">
        <%= f.radio_button :gender, "others" %>
        <%= f.label :gender, "指定なし" %>

        <%= f.radio_button :gender, "male" %>
        <%= f.label :gender, "男性" %>

        <%= f.radio_button :gender, "female" %>
        <%= f.label :gender, "女性" %>
      </div>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <div class="col-sm-2">
        <%= f.label :email, 'メールアドレス' %>
      </div>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row pt-2 justify-content-center">
      <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#password" aria-expanded="false" aria-controls="password">
        パスワードを変更する
      </button>
      </div>
      <div class="password-form collapse" id="password">
        <div class="form-group row pt-2 justify-content-center">
          <div class="col-sm-2">
            <%= f.label :password, "新しいパスワード" %>
          </div>
          <div class="col-sm-4">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :password, "パスワード再入力" %>
          </div>
          <div class="col-sm-4">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= f.submit "保存する", class: 'btn btn-success form-control' %>
      </div>
    <% end %>
  </div>
</div>

