<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-4 ">
      <div class="row justify-content-center mb-4">
        <% if @end_user.profile_image.attached? %>
          <%= image_tag @end_user.profile_image, size: "200x200", class:"rounded-circle mx-auto border border-dark" %>
        <% else %>
          <%= image_tag "no_image.jpg", size: "200x200",class:"rounded-circle mx-auto" %>
        <% end %>
      </div>
    　<div class="mb-4 offset-2">
        <% if current_end_user != @end_user %>
          <% if current_end_user.following?(@end_user) %>
            <%= link_to 'フォロー外す', end_user_follows_path(@end_user), method: :delete, class: "btn-sm btn-danger" %>
          <% else %>
            <%= link_to 'フォローする', end_user_follows_path(@end_user), method: :POST, class:"btn-sm btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <table class="table mx-auto">
        <tbody>
          <tr>
            <td class="align-middle text-center">
            <%= @end_user.screen_name %>
            </td>
          </tr>
          <tr>
            <td class="align-middle text-center">
              投稿数
              <%= @end_user.tweets.count %>
            </td>
          </tr>
          <tr>
            <div class="row">
                <td class="align-middle text-center col-sm-6">
                <%= link_to follows_end_user_path(@end_user.id),class:"mr-5" do %>
                  フォロー<%= @following_end_users.count %>
                <% end %>
                <%= link_to followers_end_user_path(@end_user.id) do %>
                  フォロワー<%= @follower_end_users.count %>
                <% end %>
                </td>
            </div>
          </tr>
          <tr>
            <td class="align-middle text-center">
              <%= @end_user.biography %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <% if end_user_signed_in? && @end_user.id == current_end_user.id && !@end_user.guest? %>
          <%= link_to "編集する",  edit_end_user_path(@end_user), class:"btn btn-outline-success" %>
          <%= link_to "退会", end_user_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8 mt-4">
      <h2 class="mb-4 text-center">投稿一覧</h2>
      <div class="images">
        <% @tweets.each do |tweet| %>
        <div class="tweet_image text-center mb-4">
          <%= link_to tweet_path(tweet.id) do %>
          <div class="img">
            <% if tweet.image.attached? %>
              <%= image_tag tweet.image, format: 'jpeg', class: 'thum-img' %>
            <% else %>
              <%= image_tag ("no_image.jpg"), format: 'jpeg', class: 'thum-img' %>
            <% end %>
          </div>
          <% end %>
          <%= tweet.created_at.strftime('%Y/%m/%d') %><br>
          <%= tweet.spot_name %><br>
          <i class="fa-solid fa-heart fa-fw faa-wrench animated-hover" style="color: #ff6347;"></i> <%= tweet.favorites.count %>
        </div>
        <% end %>
      </div>
   </div>
   <%= paginate @tweets %>
  </div>
</div>







