<div class="tweet-comment">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">ドライブスポット投稿詳細</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 order-sm-1">
        <%= link_to end_user_path(@tweet.end_user) do %>
        <p class="caption">ユーザー名 : <%= @tweet.end_user.screen_name %></p>
        <%= image_tag @tweet.get_image %>
        <% end %>
        <div class="tweet_information mt-2">
          <h5 class="caption">
            <%= @tweet.prefectures %>
            <%= @tweet.spot_name %>
          </h5>
          <h5 style="text-decoration:underline; text-decoration-color:#FFA500;">おすすめポイント</h5>
          <p><%= @tweet.introduction %></p>
        </div>
        <% if @tweet.end_user == current_end_user %>
          <%= link_to '編集する', edit_tweet_path(@tweet.id), class: "btn btn-info mr-3" %>
          <%= link_to '削除する', tweet_path(@tweet.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger" %><br>
        <% end %>
        <%= link_to '投稿一覧ページへ', tweets_path, class: "btn btn-dark mt-3" %>
      </div>

      <div class="col-sm-7 order-sm-2" style="padding-top: 12px;" >
        <div class="comments offset-2 mt-4">
          <div id='map'></div>
            <%= form_with(model:[@tweet, @comment], local: true) do |f| %>
              <%= f.text_area :comment,  style: "width:82%", rows: "3",placeholder: "コメントする" %>
              <%= f.submit "送信する", class: "btn btn-success mb-4" %>
            <% end %>
            <div class="row">
              <div class="col-sm-4">
                <p>コメント件数：<%= @comments.count %></p>
              </div>
              <div class="col-sm-3">
                <% if @tweet.favorited_by?(current_end_user) %>
                  <%= link_to tweet_favorites_path(@tweet), method: :delete, class: "favorite_btn" do %>
                <i class="fa-solid fa-heart fa-fw faa-wrench animated-hover" style="color: #ff6347;"></i><%= @tweet.favorites.count %> いいね
                <% end %>
                <% else %>
                  <%= link_to tweet_favorites_path(@tweet), method: :post, class: "favorite_btn" do %>
                  <i class="far fa-heart" style="color: #ff6347;"></i><%= @tweet.favorites.count %> いいね
                <% end %>
                <% end %>
              </div>
            </div>
            <% @comments.each do |comment| %>
            <div class="comments-index mb-2">
              <%= comment.end_user.screen_name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %><br>
              <div class="d-flex">
                <%= comment.comment %>
                <% if comment.end_user == current_end_user %>
                <div class="comment-delete">
                  <%= link_to "削除", tweet_comment_path(comment.tweet, comment), method: :delete, class: "btn-sm btn-danger" %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          <%= paginate @comments %>
       </div>
    </div>
  </div>
</div>


<style>
  #map{
    width: 81%;
    height: 300px;
    margin-bottom: 5px;
  }
</style>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
<script>
let map;
let marker = null; // マーカーを複数表示させたいので、配列化
let infoWindow = null; // 吹き出しを複数表示させたいので、配列化
const tweets = gon.tweets; // コントローラーで定義したインスタンス変数を変数に代入
const tweet_latitude = gon.latitude; // コントローラーで定義したインスタンス変数を変数に代入
const tweet_longitude = gon.longitude; // コントローラーで定義したインスタンス変数を変数に代入


function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: parseFloat(tweet_latitude), lng: parseFloat(tweet_longitude)},
    zoom: 10
  });

  // forは繰り返し処理
  // 変数iを0と定義し、
  // その後gonで定義したusers分繰り返し加える処理を行う

    marker = new google.maps.Marker({
        map: map,
        position: {lat: tweet_latitude, lng: tweet_longitude }
    });

    // infoWindowは吹き出し
    infoWindow = new google.maps.InfoWindow({
    // contentで中身を指定
    // 今回は文字にリンクを貼り付けた形で表示
      content: `${gon.tweet_name}`
    });
    // markerがクリックされた時、
    marker.addListener("click", function(){
        // infoWindowを表示
        infoWindow.open(map, marker);
    });
}

</script>
