<div class="box2">
  <div class="box-inner">
　　<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <h1>新規登録</h1>
      <div class="box-screen_name">
        <%= f.label :screen_name, "ユーザー名" %><br />
        <%= f.text_field :screen_name, autofocus: true %>
      </div>

      <div class="box-name">
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="box-name_kana">
        <%= f.label :name_kana, "名前（カナ）" %><br />
        <%= f.text_field :name_kana, autofocus: true %>
      </div>

      <div class="box-gender">
        <div class="box-gender-title">
          <%= f.label :gender, "性別" %>
        </div>
        
        <div class="box-gender-input-list">
          
          <div class="box-gender-input-list-radio">
            <%= f.radio_button :gender, "others" %>
            <%= f.label :gender, "指定なし" %>
          </div>
          <div class="box-gender-input-list-radio">
            <%= f.radio_button :gender, "male" %>
            <%= f.label :gender, "男性" %>
          </div>
          <div class="box-gender-input-list-radio">
            <%= f.radio_button :gender, "female" %>
            <%= f.label :gender, "女性" %>
          </div>
        </div>
      </div>

      <div class="box-email">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-password">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="box-password">
        <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="box-login">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
    <% end %>
     <div class="box-newusr">
      <p><span>------------</span> 既に登録されていますか？ <span>------------</span></p>
      <%= link_to "ログイン", new_end_user_session_path %>
    </div>
  </div>
</div>
<%= render "public/shared/error_messages", resource: resource %>

