<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>Drive_spot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class="sticky-top">
      <p class="text-center"><%= notice %></p>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <%= image_tag 'drive.png', style:"width: 50px"%>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if end_user_signed_in? %>
              <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to root_path, class: "navbar-item" do %>
                    <i class="fas fa-home"></i>
                    <p style="font-size:5px;">トップ</p>
                  <% end %>  
                </div>
              </li>
              <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to end_user_path(current_end_user), class: "navbar-item" do %>
                    <i class="fas fa-user-alt"></i>
                    <p style="font-size:5px;">マイページ</p>
                  <% end %>  
                </div>
              </li>
              <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to new_tweet_path, class: "navbar-item" do %>
                    <i class="fas fa-map-marked-alt"></i>
                    <p style="font-size:5px;">投稿</p>
                  <% end %>  
                </div>
              </li>
              <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to tweets_path, class: "navbar-item" do %>
                    <i class="fas fa-map-marker-alt"></i>
                    <p style="font-size:5px;">投稿一覧</p>
                  <% end %>  
                </div>
              </li>
              <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to destroy_end_user_session_path, method: :delete, class: "navbar-item" do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <p style="font-size:5px;">ログアウト</p>
                  <% end %>
                </div>  
              </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                <div style="text-align: center;">
                  <%= link_to destroy_admin_session_path, method: :delete, class: "navbar-item" do %>
                    <i class="fas fa-sign-out-alt"></i>
                    <p style="font-size:5px;">ログアウト</p>
                  <% end %>
                </div>  
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
   <body>
     <%= yield %>
   </body>
</html>
