<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>Drive_spot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class="sticky-top">
      <%= notice %>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if end_user_signed_in? %>
              <li class="nav-item">
                <%= link_to root_path, class: "navbar-item" do %>
                <i class="fas fa-home"></i>
                <p>トップ</p>
                <% end %>
              </li>
              <li class="nav-item">
                <div>
                <%= link_to end_user_path(current_end_user), class: "navbar-item" do %>
                <i class="fas fa-user-alt"></i>
                <p>マイページ</p>
                </div>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿する", new_tweet_path %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", tweets_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
              </li>
        <%#= link_to "退会する", end_user_unsubscribe_path %>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
   <body>
     <%= yield %>
   </body>
</html>
